:root {
    color: #f6f6f6;
    background-color: #2f2f2f;
    font-family: "Roboto", sans-serif;
}

a:hover {
    color: #24c8db;
}

input,
button {
    color: #fff;
    background-color: #4caf50;

    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s ease-in-out;
}

button:hover {
    box-shadow:
        0 7px 14px 0 rgba(0, 0, 0, 0.2),
        0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    box-shadow:
        0 2px 5px 0 rgba(0, 0, 0, 0.2),
        0 4px 6px 0 rgba(0, 0, 0, 0.19);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    border-radius: 5px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #e6e6e6;
}

.kind-cell {
    -webkit-appearance: none;
    appearance: none;
    background-color: #e6e6e6;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.kind-cell:hover {
    background-color: #ddd;
}

.kind-cell::after {
    content: "\25BC";
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    transition: 0.3s ease-in-out;
}

.kind-cell:hover::after {
    transform: translateY(-50%) rotate(180deg);
}

.simulation-container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    border: 1px solid #444;
    margin: 0 auto;
    width: fit-content;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "simulation-content";
}

.simulation-area {
    grid-area: simulation-area;
    margin-left: 10%;
}

.simulation-header {
    grid-area: header;
    align-items: center;
    place-self: center;
    color: #fff;
}

.control-area {
    padding-left: 20%;

    grid-area: control-area;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    max-width: 200px;
}

.control-buttons {
    margin-bottom: 10px;
}

.play-control {
    grid-area: play-control;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.crafte-mode {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: self-start;
}

.crafte-mode-buttom {
    height: 30px;
    weight: fit-content;
    border-radius: 5px;
}

.simulation-grid {
    display: inline-block;
    background-color: aliceblue;
    width: max-content;
    overflow: hidden;
}

.simulation-row {
    line-height: 0;
}

.simulation-cellule {
    display: inline-block;
    width: 8px;
    height: 8px;
}

.cellule-dead {
    background-color: white;
}

.cellule-alive.sand {
    background-color: #ebb30a;
}

.cellule-alive.rock {
    background-color: #6d7288;
}

.cellule-mouse-over-alive {
    background-color: #9d7707;
}

.cellule-mouse-over-dead {
    background-color: #a3d3a1;
}

@media (max-width: 768px) {
    .simulation-container {
        min-height: 110vh;
    }

    .simulation-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "simulation-area"
            "control-area";
    }

    .control-area {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "play-control"
            "controler-editor";
    }

    .simulation-area {
        margin-left: 5vh;
    }
}

@media (min-width: 768px) {
    .simulation-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "simulation-area control-area"
            "simulation-area .";
    }

    .control-area {
        grid-template-columns: 1fr;
        grid-template-areas:
            "play-control"
            "controler-editor";

        label {
            display: block;
        }
    }
}
