@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }
    button:active {
        background-color: #0f0f0f69;
    }
}

.simulation-container {
    background: #000000;
    margin: 20px 0 0px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.simulation-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simulation-area {
    width: 94%;
    margin: 20px auto;
}

.simulation-grid {
    display: inline-block;
    background-color: aliceblue;
    width: max-content;
    overflow: hidden;
}

.simulation-row {
    line-height: 0;
}

.simulation-cellule {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #ccc;
}

.cellule-dead {
    background-color: white;
}

.cellule-alive.sand {
    background-color: #ebb30a;
}

.cellule-alive.rock {
    background-color: #6d7288;
}

.cellule-mouse-over-alive {
    background-color: #9d7707;
}

.cellule-mouse-over-dead {
    background-color: #a3d3a1;
}

.simulation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.game-buttons {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
